#database_connection
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/betservice?serverTimezone=Europe/Warsaw&useSSL=False&allowPublicKeyRetrieval=true
    username: root
    password: Igloopol1
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher

  jpa:
    database: mysql
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    hibernate:
      ddl-auto: update

  mail:
    host: smtp.gmail.com
    port: 587
    protocol: smtp
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

#api_football_client
football:
  api:
    key: 17cf648184mshbe837229d72010cp189b3bjsn9282b3c5d01c
    endpoint: https://api-football-v1.p.rapidapi.com/v3/
    host: api-football-v1.p.rapidapi.com

#email_config
admin:
  email: ${MAIL_USERNAME}

confirm_registration_link: http://localhost:8080/api/v1/registration/confirm?token=
